body {
    background: #e8f0ff;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
    background: #e8f0ff;
    min-height: 100vh;
    align-content: flex-start;
    margin: 0 2rem;
    justify-content: center;
    margin-bottom: 4.5rem;
}

.userCard {
    background: linear-gradient(145deg, #f2f8ff, #d6e6ff);
    border-radius: 16px;
    box-shadow:
        0 4px 16px rgba(0, 0, 0, 0.1),
        0 1.5px 4px rgba(106, 135, 230, 0.1);
    padding: 1.5rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px; /* Gör kortet kvadratiskt */
    transition:
        transform 0.2s,
        box-shadow 0.2s;

    justify-content: center;
    cursor: pointer;
}

.userCard:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.15),
        0 3px 8px rgba(106, 135, 230, 0.15);
}

.profilePicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 3px solid #8cb1e9;
    background: #fff;
    margin-bottom: 0.8rem;
    box-shadow: 0 2px 8px rgba(140, 177, 233, 0.15);
    transition: box-shadow 0.2s;
}

.username {
    font-size: 1.3rem;
    font-weight: 850;
    color: #444;
    margin: 0;
    text-align: center;
    letter-spacing: 0.5px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }
    .userCard {
        width: 30%; /* Två cards per rad */
        max-width: none; /* Ta bort max-width */
        height: auto; /* Anpassa höjden efter innehåll */
        max-height: none;
        margin: 0.5rem 0.5; /* Mindre sidomarginal */
        gap: 0.5rem; /* Minska gapet mellan cards */
    }
    .profilePicture {
        width: 50px;
        height: 50px;
    }
    .username {
        font-size: 1.1rem;
    }
    @media (max-width: 400px) {
        .userCard {
            width: 40%; /* En card per rad på mycket små skärmar */
            margin: 0.5rem 0.5rem; /* Mindre sidomarginal */
        }
    }
}
@media (min-width: 768px) {
    .container {
        margin-top: 4.5rem;
    }
}
